---
---

@import "{{ site.theme }}";

section p a:hover, p a:focus {
    font-weight: initial;
    text-decoration: underline;
}

footer > a {
    display: inline-block;
    vertical-align: text-bottom;
}

span.back-icon {
    vertical-align: middle;

    &::after {
        content: "↩ ";
    }
}