<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_downloads %}
          <ul class="downloads">
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
      </header>
      <section>

      <h1>{{ page.title | default: "" }}</h1>
      {% unless page.date == nil %}
        <p>
          <small>
            {{ page.date | date_to_long_string | prepend: "Written on " }} by {{ page.author }}
          </small>
        </p>
      {% endunless %}
      
      {{ content }}
      
      {% unless page.date == nil %}
        <hr />
        <p>
          <strong>Categories: </strong>
          <em>{{ page.categories | array_to_sentence_string }}</em>
          <br />
          <strong>Tags: </strong>
          <em>{{ page.tags | array_to_sentence_string }}</em>
        </p>
      {% endunless %}

      </section>
      <footer>
        <a href="https://uk.linkedin.com/pub/barry-postma/16/4b4/991">
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Barry on LinkedIn">
        </a>
        <a class="github-button" href="https://github.com/BAPostma" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large" aria-label="@BAPostma on GitHub">View Barry on Github</a>
        <a href="{{ site.personal_homepage }}"><span class="back-icon"></span>Personal homepage</a>

        <p><small>The views and opinions expressed on this blog by no means represent those of my companies or employers.</small></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>